ul {
    list-style-type: none;
}

h1 {
    text-decoration: underline;
    font-size: 220%;
}

#list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#add-new-list-item-button {
    min-width: 100px;
    cursor: pointer;

    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    color: #0374a4;
    background-color: #fed361;
    box-shadow: 3px 3px 3px #3b2d1f;
}

@media only screen and (max-width: 600px) {
    #add-new-list-item-button {
        font-weight: bold;
        font-size: medium;
    }
}