body {
    background-color: #c9aa88
}

#list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-item {
    margin-top: 10px;

    color: #365577;
    font-weight: bolder;
    background-color: #b4895a;
    border: 2px solid #423629;
}

.edit-item {
    visibility: hidden;
}

.visible {
    visibility: visible;
}